extends layout

block content
  .row
    .col-sm-12.text-right
      h1 contact
      br
      br
      h4 email us
      a(href='mailto:nolafront@gmail.com')
        h5 nolafront@gmail.com
  .row
    iframe(width="425", height="350", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=4100+St.+Claude+Avenue,+New+Orleans,+LA&amp;sll=29.953075,-90.064201&amp;sspn=0.009593,0.013711&amp;ie=UTF8&amp;ll=29.976498,-90.030212&amp;spn=0.019184,0.027423&amp;z=14&amp;output=embed&amp;s=AARTsJpwK_HK2ezd9VKG0I2D-El3LMIkTA&style=saturation:-100")

