extends layout

block content
  .row
    .col-sm-10
      h1.pull-right bbq fundraiser
    .col-sm-8.col-sm-offset-2
      h3 Sunday, June 8th
      h3 4pm - 10pm
      hr
  .row
    .col-sm-8.col-sm-offset-2
      img.img-thumbnail.lg-thumbnail(src='#{STATIC_URL}img/bbq-poster.jpg')
