extends layout

block content
  .row
    .col-sm-10
      h1.pull-right bbq fundraiser
    .col-sm-3.col-sm-offset-2
      h3 Sunday, June 8th
      h3 4pm - 10pm
    .col-sm-3.col-sm-offset-2
      br
      br
      form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='F5F7MGZXREPU4')
        button.btn.btn-lg.btn-block.bg-accent.white
          | Buy a Raffle Ticket
          span.glyphicon.glyphicon-heart-empty
        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
  .row
    .col-sm-8.col-sm-offset-2
      hr.dashed
      p The Front is pleased to invite you to our 2nd Annual Fundraiser BBQ &amp; Art Raffle on the afternoon of Sunday, June 8th. This event is a celebration of all that The Front has accomplished in the past five years, and an occasion to provide support for The Front in the years to come.
      p The Front is a not-for-profit, member administered and supported, contemporary art gallery located in the Saint Claude Arts District – the largest artists-run arts district in the country. In addition to opening multiple shows of new arts programming every month of the year, we also host artist talks, panel discussions, video screenings and performances. These events are always free and open to the public and we look forward to many more years of serving New Orleans in this way. So please give your support for this exceptional programming by joining us on Sunday, June 8th, from 4:00 until 10:00. Help support The Front. Help support New Orleans Arts. Help support New Orleans.
      p There is <strong>no admission cost</strong> to attend this event but your generous donations will be graciously and appreciatively accepted.
      ul
        li Wonderful and plentiful array of food and drinks provided by a variety of New Orleans businesses, and some of the more versatile members of The Front community.
        li Flash your "5 Years of The Front" wooden nickel and receive a complimentary drink.
        li Musical entertainment provided by DJ ST. SARAH and DJ SUZY Q
        li Art Raffle. Dozens of artists have donated more than fifty works of original artwork. Each ticket will be matched to a randomly selected artwork at 7:00. Tickets available for a donation of $75, in advance through <a class='accent' href='/fundraiser'>nolafront.org</a> or for $85 in person on the day of at the event. Tickets include complimentary food and beverage for the entirety of the day. Unmatched artworks will be available at the close of the matching for a donation of $95
      p We sincerely hope to see you at The Front on Sunday, June 8th. 4100  Saint Claude Avenue. New Orleans, LA. 70119
  .row
    .col-sm-8.col-sm-offset-2
      br
      br
  .row
    .col-sm-8.col-sm-offset-2
      img.img-thumbnail.lg-thumbnail(src='#{STATIC_URL}img/bbq-poster.jpg')
