extends layout

block content
  .row
    .col-sm-10
      h1.pull-right join the front
    .col-sm-6.col-sm-offset-2
      h4 Deadline September 6th, 2015
  .row
    .col-sm-10.col-sm-offset-1
      hr.dashed
  .row
    .col-sm-8.col-sm-offset-2
      p The Front collective is currently seeking applications for new members.  We are looking for contemporary visual artists and curators who want to help run an independent gallery space.  Over the course of a lease cycle, members get a chance to curate a show in each of the 4 rooms of the gallery. The rooms are booked according to each member’s needs, and each member can use one, two, three, or all four rooms at once. Our next lease cycle will begin December 2016.
  .row
    .col-sm-6.col-sm-offset-3.text-center
      br
      img.img-thumbnail.lg-thumbnail(src='#{STATIC_URL}img/join.jpg')
      p November 2011 Opening
  .row
    .col-md-8.col-md-offset-2
      h4 Benefits of Membership
      ul
        li 4 opportunities to independently show or curate work or other events in the gallery space over the course of the lease cycle (plus additional opportunities with potential group shows and projects)
        li Website presence including an individual artist page with images and links to cv and statements, announcements about upcoming shows, and archives of past shows
        li Publicity from The Front’s group email list, Facebook, and announcements in magazines, newspapers, internet calendars and New Orleans art related websites
        li Inclusion in our catalog, a publication we put out after each membership cycle documenting the work of members, shows, and events at The Front
        li  Great potential for grants, shows, and recognition both in and outside of New Orleans. Exhibitions at The Front have garnered the attention of bloggers and art critics alike with reviews in publications from The Times Picayune to Art in America and Art Papers. Curators and collectors routinely visit shows at The Front. The collective has received substantial support from the Joan Mitchell Foundation, artist Paul Chan, and the Arts Council of New Orleans. Membership has widened each member’s breadth of opportunity outside of the collective and New Orleans both through bringing the work of artists from all over the world to The Front and through exhibition opportunities such as our show at Winkleman Gallery in New York, Lump Gallery in Raleigh, NC, the Spaces show at The CAC, the University of Alabama in Birmingham, Vox Populi in Philadelphia, PA, Auburn University in Auburn, AL, Straight Shot at MASS Gallery in Austin, TX, and our upcoming show In Mexico City with Feral Collective.
        li  100% of sales go to the artist. The Front is a not-for-profit enterprise, but each member is at liberty to sell his/her work with sales transactions conducted directly between the artist and collector, and the artist receiving 100% of sales revenue.
        li  An invigorating community of fellow artists to work with. This can be best evidenced through our collaborative group projects such as our geodesic installation at Lump Gallery, our PSA Poster Project, and our research expedition to Wolf Rock Cave which resulted in our collaborative piece The C(r)ave and the giant inflatable shotgun house at MASS Gallery this past month.
  .row
    .col-md-8.col-md-offset-2
      h4 Basic Responsibilities of a Front membership
      ul
        li $95-125 per month. This covers rent, utilities, and other expenses associated with running the space. We will know the exact monthly dues once we settle on how many new memberships we take on this round (more members would mean less rent, less members would mean more rent).
        li Commitment to the gallery for 18 – 24 months. Again, this varies depending on how many new members we take on. This schedule allows for 12 – 18 months of member-curated shows, 3 months of special programming during Prospect, and 3 additional months for group organized shows.
        li Attendance at the monthly group meeting, and participation in a smaller committee meeting once a month (ex: grant-writing committee, lecture committee)
        li Taking on a gallery job (ex: yard-mower, email-checker, secretary, treasurer, beer buyer, e-blast sender, website, etc.)
        li Gallery sitting 8 li 12 times over the course of the lease, Saturday or Sunday 12-5 pm.
        li Assisting with openings on a rotating basis (bartending, set up, clean up)
        li Membership begins January 1, 2016.
  .row
    .col-md-8.col-md-offset-2
      h4 How to Apply
      strong Please send the following application materials via email with the subject line “membership application” to nolafront@gmail.com.
  .row
    .col-md-8.col-md-offset-2
      h4.text-center Deadline: September 6, 2015
      ol
        li
          h5 Letter of intent
          p A letter explaining who you are and why you want to join our group. For example: What kind of things are you interested in doing with the space? How do you see yourself contributing to the collective beyond programming exhibitions?

        li
          h5 Images of your work
          p 10-20 jpegs, 1024x768, 72 dpi.  Please label numerically, for example, 01_Rodrigue.jpg

        li
          h5 Image list
          p List of images with titles, media, size, and date.

        li
          h5 Resume
          p Please include your contact information, address, and phone number

        li
          h5 Three professional references
          p Name, position/relation to the applicant, email, and phone number
  .row
    hr.dashed
    .col-md-10.col-md-offset-1
      p For more information or questions, please see our website at <a href='/'>www.nolafront.org</a>, send us an <a href='mailto:nolafront@gmail.com'>email</a>, or stop by at 4100 St. Claude Avenue during gallery hours, 12-5pm Saturdays and Sundays.
