extends layout

block content
  .row
    .col-sm-10.col-sm-offset-1
      .col-sm-6.pull-right.text-right
        h1 links
      .col-sm-5
        br
        br
        .col-xs-2.col-sm-3
          a(href='https://twitter.com/TheFrontNOLA')
            img(src='#{STATIC_URL}img/twitter-black.png', width='32px', height='32px')
        .col-xs-2.col-sm-3
          a(href='http://www.facebook.com/pages/The-Front/103934003034459')
            img(src='#{STATIC_URL}img/facebook-black.png', width='32px', height='32px')
  .row
     br
     br
  .row
    .col-sm-10.col-sm-offset-1
      {% for link in links %}
      .col-sm-4
        a(href='#{link.url}', target='_blank')
          h4 #{link.name}
      {% endfor %}
