extends layout

block content
  .row
    .col-sm-10
      h1.pull-right bbq fundraiser
    .col-sm-8.col-sm-offset-2
      h3 Sunday, June 8th
      h3 4pm - 10pm
      hr
  .row
    h3.text-center Thanks. We'll see you there!
