* {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}
h1 {
  font-variant: small-caps;
  letter-spacing: 2px;
  font-size: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
p {
  font-size: 11pt;
}
.italic {
  font-style: italic;
}
.short {
  line-height: 10px;
  height: 10px;
}
.small {
  font-size: 12px;
  font-weight: 300;
}
a {
  color: #445;
}
a:hover {
  text-decoration: none;
  color: #666;
}
.white-shadow {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
}
hr {
  border-color: #699;
}
hr.dashed {
  border-style: dashed;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
}
header.navbar {
  -webkit-box-shadow: 0px 2px 10px #777;
  -moz-box-shadow: 0px 2px 10px #777;
  box-shadow: 0px 2px 10px #777;
  border-left: none;
  border-right: none;
  padding: 0px;
  margin: 45px 0px 20px 0px;
  height: 30px;
  width: 100%;
  padding-left: 100px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
header.navbar .logo-link {
  display: inline-block;
  background: #fff;
  background-image: url("../img/bg.png");
  margin-top: -38px;
  height: 150px;
  width: 160px;
  -webkit-box-shadow: 0px 1px 5px #777;
  -moz-box-shadow: 0px 1px 5px #777;
  box-shadow: 0px 1px 5px #777;
  font-variant: small-caps;
  text-align: center;
}
header.navbar .logo-link * {
  display: inline-block;
}
header.navbar .logo-link img {
  border-bottom: 2px solid #666;
}
header.navbar .logo-link h1 {
  margin-top: -10px;
  font-size: 34px;
  padding-top: 0px;
}
header.navbar nav.navbar {
  display: block;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  float: none;
  margin: -100px auto 0px auto;
  height: 30px;
  width: 460px;
}
header.navbar nav.navbar .navbar-header {
  margin-left: 160px;
}
header.navbar nav.navbar .navbar-toggle {
  background: #699;
  margin-top: -7px;
}
header.navbar nav.navbar span.icon-bar {
  background: #fff;
}
header.navbar .navbar-collapse {
  z-index: 100;
  position: relative;
}
@media (max-width: 900px) {
  nav.navbar {
    margin-left: 150px !important;
  }
}
@media (max-width: 768px) {
  nav.navbar {
    width: 140px !important;
  }
  nav.navbar .navbar-collapse {
    margin-left: 60px;
  }
  nav.navbar .navbar-collapse li {
    display: block;
    margin-bottom: 20px;
  }
  nav.navbar .navbar-collapse li a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  header.navbar {
    padding-left: 10px;
  }
}
.brand {
  display: inline-block;
  margin: 0px;
  float: left;
  font-variant: small-caps;
  font-size: 15px;
}
.brand a {
  padding: 20px 0px;
  margin-top: -14px;
}
.brand a:hover {
  background: #699 !important;
  color: #fff;
}
#content {
  margin: 60px auto;
  min-height: 65%;
}
footer {
  background: #bbb;
  height: 85px;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
footer li.brand {
  font-weight: 100;
  color: #fff;
  margin-left: 0px;
  margin-right: 0px;
  padding: 5px 0px;
  margin-top: -1px !important;
}
footer li.brand a {
  padding: 6px 10px 7px 10px !important;
}
footer .row {
  width: 405px;
  margin: 0px auto;
  padding-top: 10px;
}
footer .row:last-child {
  width: 100%;
  margin: 0px !important;
  text-align: center;
}
footer .row:last-child p {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
}
.artist-name-image {
  height: 50px;
  overflow: hidden;
}
.artist-name-image * {
  position: absolute;
}
.artist-name-image p {
  text-align: center;
  width: 100%;
  line-height: 50px;
  vertical-align: middle;
  z-index: 2;
  color: #fff;
  text-shadow: 0px 1px 3px #699;
  font-weight: 400;
}
.artist-name-image img {
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  margin: auto;
  filter: #808080;
  -webkit-filter: grayscale(0.7);
}
.artist-name-image:hover p {
  color: #699;
}
.artist-name-image:hover img {
  filter: none;
  -webkit-filter: grayscale(0);
}
.img-thumbnail {
  border: none;
  background: none !important;
  width: 100%;
  max-width: 300px;
  border-radius: 0px !important;
  padding: 0px;
  margin: 0px;
}
.lg-thumbnail {
  max-width: 100%;
}
.artist-block {
  height: 250px;
  overflow: hidden;
  margin-bottom: 20px;
}
.artist-block.lg {
  max-height: 300px;
  height: auto;
}
.video-block iframe {
  width: 100%;
}
#enlarged .modal-header {
  border-bottom-color: #999;
  padding: 10px 30px;
  margin: 0px 20px;
}
#enlarged .modal-content {
  border-radius: 4px !important;
  border: none !important;
  height: 98%;
  width: 98%;
  margin: 1% auto;
  float: none;
}
#enlarged .modal-body {
  height: 90%;
}
#enlarged .modal-body .img {
  height: 80%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#enlarged .modal-body .info {
  border-top: #999 1px solid;
  margin-top: 20px;
  padding: 20px 30px;
}
